<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASNColada - Error</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<b style="color: white;
    opacity: 0.1;
    position: absolute;
    font-size: 34vmax;">BRUH</b>
<div class="wrap">
  <h1>Error</h1>
  <p style="color: indianred">{{ .Error }}</p>
</div>
</body>
</html>